<div class="color">
<div class="pt-4 scroll-to-top">
    <div id="jama">
    <a class="btn btn-outline-white"  href="https://github.com/Virsail/" target="_blank" role="button"><p style="color: white;">Visit on Github</p> 
      <i class="fas fa-rocket"></i>
    </a>
    </div>
  
  <!--/.Call to action-->

  <hr class="my-4">

  <!-- Social icons -->
  <div class="pb-4">
    

    <a href="https://www.youtube.com/" target="_blank">
      <i class="fab fa-youtube mr-3"></i>
    </a>

    <a href="https://plus.google.com/" target="_blank">
        <i class="fab fa-google-plus-g mr-3"></i>
      </a>

      <a href="https://dribbble.com/" target="_blank">
        <i class="fab fa-dribbble mr-3"></i>
      </a>

      <a href="https://pinterest.com/" target="_blank">
        <i class="fab fa-pinterest mr-3"></i>
      </a>

      <a href="https://github.com/" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>

      <a href="http://codepen.io/" target="_blank">
        <i class="fab fa-codepen mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2020 Copyright:
      <a href="#" target="_blank"> Virsail Mbagaya </a>
    </div>
    </div>
    </div>
    <div class="twitter">
    <a href="https://twitter.com/virsail/" class="nav-link border border-light rounded"
    target="_blank">
    <i class="fab fa-twitter "></i><em>Share Github Home on twitter</em>
    <!--/.Copyright-->
  <!--/.Footer-->

  

