 <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
     <div class="container">
            <a class="navbar-brand" href="#" target="_blank">
                    <strong>Github Home </strong>
             </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fas fa-user-check"></i>
                        <span class="sr-only">(current)</span>
                    </a>
                   </li>
               </ul>
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                    <a href="https://www.facebook.com/" class="nav-link" target="_blank">
                        <i class="fab fa-facebook-f"></i>Facebook
                    </a>
                    </li>
                    <li class="nav-item">
                    <a href="https://twitter.com/" class="nav-link" target="_blank">
                        <i class="fab fa-twitter"></i>Twitter
                    </a>
                   </li>

                  <li class="nav-item">
                    <a href="https://github.com/Virsail/" class="nav-link border border-light rounded"
                      target="_blank">
                      <i class="fab fa-github mr-2"></i>GitHub
                    </a>
                  </li>
                </ul>
        
              </div>
        
            </div>
        </nav>
        <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="view">
                        
          <video class="video-intro" autoplay loop muted>
            <source src="https://mdbootstrap.com/img/video/city.mp4" type="video/mp4" >
          </video>
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
            <div class="text-center  mx-5 wow fadeIn">
                <h3 class="mb-4">
                  <h2 class="h2 text-info mb-3 animated bounce infinite">Search on Github <i class="fas fa-id-card"></i></h2>
                  
                </h3>
              
                <div class="mb-4" >
                    <!-- Search form -->
                  <input class="form-control" name="userName" type="text" (keyup)='getUsers($event)' [(ngModel)]="userName"placeholder="Search" aria-label="Search">
                  
                  </div>
              </div>

              </div>
              </div>
              </div>
              </div>
              </div>

            
        